.git
.gitignore

node_modules
npm-debug.log
yarn-error.log
build
dist

__pycache__
*.pyc
*.pyo

.env
*.env
*.pem
*.key
*.crt

*.log
logs

docker-compose.yml
docker-compose.override.yml

grafana-data
prometheus-data

.vscode
.idea